snippet amt
	\begin{align*}
		${1}
	\end{align*}
snippet mt
	\[
		${1}
	\]
snippet ol
	\begin{enumerate}[${1:1.}]
		\item
			${2}
	\end{enumerate}
snippet ul
	\begin{itemize}
		\item
			${1}
	\end{itemize}
snippet li
	\item
		${1}
	
