snippet blatt
	\documentclass[a4paper]{scrartcl}
	\usepackage{mathe-blatt}
	\usepackage{graphicx}
	\blatt${1:anadrei|numeins|pse}

	\begin{document}
		${2}
	\end{document}
snippet amt
	\begin{align*}
		${1}
	\end{align*}
snippet mt
	\[
		${1}
	\]
snippet ol
	\begin{enumerate}[${1:1.}]
		\item
			${2}
	\end{enumerate}
snippet ul
	\begin{itemize}
		\item
			${1}
	\end{itemize}
snippet li
	\item
		${1}
	
