[user]
	email = stephan@ecshi.net
	name = Stephan Hilb
	signingkey = 887DB9DC
[pull]
	rebase = true
[commit]
        verbose = true
[sendemail]
	smtpServer = bs0x539.de
	smtpServerPort = 587
	smtpEncryption = tls
	smtpUser = stephan@ecshi.net
	suppressFrom = true
	annotate = true
	confirm = always
[i18n]
	logoutputencoding = utf8
[color]
	ui = auto
