#snippet ref
#	<a class="ref" href="#${1}-${2:}">${3:$2}</a>${4}
#snippet df
#	<article class="df" id="df-${1}">
#		${2}
#	</article>
#snippet thm
#	<article class="thm" id="thm-${1}">
#		${2}
#	</article>
#snippet st
#	<article class="st" id="st-${1}">
#		${2}
#	</article>
#snippet lem
#	<article class="lem" id="lem-${1}">
#		${2}
#	</article>
#snippet proof
#	<section class="proof">
#		${1}
#	</section>
#snippet note
#	<section class="note">
#		${1}
#	</section>
